._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/server/rameses-osiris3-rules/nbproject/private/
/client/rameses-rules-mgmt/nbproject/private/
/client/rameses-rules-mgmt/build/
/client/rameses-rules-mgmt/dist/
/server/rameses-osiris3-rules/build/
/server/rameses-osiris3-rules/dist/